.env
**/.env
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc
**/node_modules/
**/dist/
.DS_Store
*.log

# Local source corpus (do not commit — copyrighted)
harrypotter.pdf
build_harrypotter_db.py
harrypotter.db
books/*.pdf
books/*.PDF
